@use "function" as u;

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: u.rem(5);

  figure {
    width: u.rem(28);
    height: u.rem(28);

    img {
      width: 100%;
      height: auto;
      filter: var(--SVG-COLOR);
    }
  }
}
