<header class="header">
  <section class="header__wrapper">
    <div class="logo">
      <figure>
        <img src="../../../assets/logo/TianLogo.png" alt="" />
      </figure>

      <h3>tian</h3>
    </div>

    <nav class="menu">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Courses</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href=""></a></li>
      </ul>
    </nav>

    <button type="submit" title="menu">
      <i>
        <img src="../../../assets/logo/menu.png" alt="" />
      </i>
    </button>
  </section>
</header>
