<header class="header">
  <section class="header__wrapper">
    <div class="logo">
      <figure>
        <img src="../../../assets/logo/TianLogo.png" alt="" />
      </figure>

      <h3>tian</h3>
    </div>

    <nav class="menu">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Courses</a></li>
        <li><a href="">FAQ</a></li>
        <li class="contact"><a href="">Contact Us</a></li>
        <li class="mode-button">
          <button title="mode" type="button" (click)="darkMode()">
            <i>
              @if (state) {
              <svg
                viewBox="0 0 256 256"
                xmlns="http://www.w3.org/2000/svg"
                class="moon"
              >
                <rect fill="none" height="256" width="256" />
                <path
                  d="M216.7,152.6A91.9,91.9,0,0,1,103.4,39.3h0A92,92,0,1,0,216.7,152.6Z"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="16"
                />
              </svg>
              }@else{
              <svg
                class="feather feather-sun sun"
                fill="none"
                height="24"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="12" cy="12" r="5" />
                <line x1="12" x2="12" y1="1" y2="3" />
                <line x1="12" x2="12" y1="21" y2="23" />
                <line x1="4.22" x2="5.64" y1="4.22" y2="5.64" />
                <line x1="18.36" x2="19.78" y1="18.36" y2="19.78" />
                <line x1="1" x2="3" y1="12" y2="12" />
                <line x1="21" x2="23" y1="12" y2="12" />
                <line x1="4.22" x2="5.64" y1="19.78" y2="18.36" />
                <line x1="18.36" x2="19.78" y1="5.64" y2="4.22" />
              </svg>
              }
            </i>
          </button>
        </li>
      </ul>
    </nav>

    <button type="submit" title="menu" class="contact-button">
      <i>
        <img src="../../../assets/logo/menu.png" alt="" />
      </i>
    </button>
  </section>
</header>
