<header class="header">
  <section class="header__wrapper">
    <div class="logo">
      <figure>
        <img src="../../../assets/logo/TianLogo.png" alt="" />
      </figure>

      <h3>tian</h3>
    </div>

    <nav class="menu">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Courses</a></li>
        <li><a href="">FAQ</a></li>
        <li class="contact"><a href="">Contact Us</a></li>
        <li class="mode-button">
          <button title="mode" type="button" (click)="darkMode()">
            <i>
              <img src="../../../assets/logo/sun-icon.png" alt="" />
            </i>
          </button>
        </li>
      </ul>
    </nav>

    <button type="submit" title="menu" class="contact-button">
      <i>
        <img src="../../../assets/logo/menu.png" alt="" />
      </i>
    </button>
  </section>
</header>
