.main {
  background-color: var(--BODY-BG-COLOR);
}

.main-dark {
  --BODY-BG-COLOR: #262626;
  --FOOTER-BG-COLOR: #000;

  --PRIMARY-COLOR: #ddd6fe;
  --FONT-COLOR: #fafafa;
  --FONT-HEADING-COLOR: #fff;
  --FONT-LINKS-COLOR: #fafafa;
}
