<footer class="footer">
  <div class="logo">
    <figure>
      <img src="../../../assets/logo/TianLogo.png" alt="" />
    </figure>

    <h3>tian</h3>
  </div>

  <menu class="footer__socials">
    <ul>
      <li>
        <a href="">
          <i>
            <img src="../../../assets/logo/instagram.png" alt="" />
          </i>
        </a>
      </li>

      <li>
        <a href="">
          <i>
            <img src="../../../assets/logo/Figma.png" alt="" />
          </i>
        </a>
      </li>

      <li>
        <a href="">
          <i>
            <img src="../../../assets/logo/linkedin.png" alt="" />
          </i>
        </a>
      </li>

      <li>
        <a href="">
          <i>
            <img src="../../../assets/logo/Twitter.png" alt="" />
          </i>
        </a>
      </li>

      <li>
        <a href="">
          <i>
            <img src="../../../assets/logo/Telegram.png" alt="" />
          </i>
        </a>
      </li>
    </ul>
  </menu>

  <section class="footer__links">
    <nav>
      <h3>Products</h3>

      <ul>
        <li><a href="">Courses</a></li>
        <li><a href="">Development</a></li>
      </ul>
    </nav>

    <nav>
      <h3>Resources</h3>

      <ul>
        <li><a href="">Careers</a></li>
        <li><a href="">Blog </a></li>
      </ul>
    </nav>

    <nav>
      <h3>Company</h3>

      <ul>
        <li><a href="">QA</a></li>
        <li><a href="">Terms and Condition</a></li>

        <li><a href="">Privacy Policy</a></li>
      </ul>
    </nav>
  </section>
</footer>
