@use "../../../scss/utils/" as u;

.footer {
  padding-inline: var(--PADDING-INLINE-MOBILE);
  padding-block: var(--PADDING-BLOCK-FOOTER);

  &__socials {
    margin-top: u.rem(30);
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: u.rem(10);
      list-style: none;

      li {
        padding: 5px;
        border: 1px solid var(--BORDER-COLOR);
        border-radius: 5px;
        a {
          i {
            display: grid;
            place-items: center;

            img {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }

  &__links {
    margin-top: u.rem(50);

    nav {
      margin-bottom: u.rem(40);
      h3 {
        margin-bottom: u.rem(15);
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: u.rem(20);
        list-style: none;
      }
    }
    @include u.breakpoint(medium) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include u.breakpoint(large) {
      max-width: 1000px;
      margin-inline: auto;
    }

    @include u.breakpoint(xlarge) {
      margin-top: 0;
      max-width: auto;
      justify-content: space-around;
      margin-inline: 0;
    }
  }

  @include u.breakpoint(large) {
    padding-inline: var(--PADDING-INLINE-TABLET);
  }

  @include u.breakpoint(xlarge) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
