@use "../../../scss/utils/" as u;

.background {
  visibility: hidden;
  position: absolute;
  top: -40%;

  height: 1600px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  margin-inline: auto;
  display: grid;
  place-items: center;

  .circle {
    border: 1px solid var(--BORDER-COLOR);
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }

  .outside,
  .middle {
    display: grid;
    place-items: center;
  }

  .middle {
    width: 80%;
    height: 80%;
  }

  .inner {
    height: 80%;
    width: 80%;
  }
}
.landing {
  &__hero {
    padding-block: var(--PADDING-BLOCK-HERO);
    min-height: calc(100vh - 120px);
    display: grid;

    .hero-header {
      align-self: center;
      text-align: center;
      display: flex;
      flex-direction: column;

      gap: u.rem(20);

      max-width: 800px;
      margin-inline: auto;
      h1 {
        font-size: 2.375rem;
        font-size: clamp(2.375rem, 1.85rem + 2.625vw, 5rem);
        color: var(--FONT-HEADING-COLOR);
      }

      p {
        font-size: 1.25rem;
        font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
        color: var(--FONT-DESC-COLOR);
      }
    }

    .hero-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: u.rem(20);
      place-self: top;

      button {
        border: none;
        padding: 10px 30px;

        background-color: var(--PRIMARY-COLOR);
        border-radius: 10px;
      }

      a {
        color: var(--PRIMARY-COLOR);
      }
    }
  }

  &__feature {
    padding-block: var(--PADDING-BLOCK-HERO);
    display: flex;
    flex-direction: column;
    gap: u.rem(20);
    .feature-wrapper {
      background: #000000;
      padding: 32px 48px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .feature-info {
        color: white;
        display: flex;
        flex-direction: column;
        gap: u.rem(10);

        h2 {
          font-size: 1.875rem;
          font-size: clamp(1.875rem, 1.775rem + 0.5vw, 2.375rem);
        }

        p {
          max-width: 250px;
          font-size: 1.25rem;
          font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
        }
      }

      i {
        display: grid;
        place-items: center;
        align-self: self-start;

        svg {
          height: 30px;
          width: 30px;
          fill: var(--PRIMARY-COLOR);
        }
      }
    }

    @include u.breakpoint(large) {
      padding-inline: 80px;
    }

    @include u.breakpoint(xlarge) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__courses {
    padding-inline: var(--PADDING-INLINE-MOBILE);

    h2 {
      font-size: u.rem(38);
      text-align: center;
    }

    .card-wrapper {
      margin-top: u.rem(80);
      display: flex;
      flex-direction: column;
      gap: u.rem(30);
      align-items: center;
      .courses-card {
        border: 1px solid var(--BORDER-COLOR);
        cursor: pointer;
        border-radius: 10px;
        padding: u.rem(15);
        max-width: 360px;
        max-height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: u.rem(10);
        position: relative;

        figure {
          margin-bottom: u.rem(15);
          img {
            border-radius: 10px;
          }
        }

        h3 {
          font-size: 1.5rem;
          font-size: clamp(1.5rem, 1.4rem + 0.5vw, 1.8rem);
        }

        p {
          font-size: u.rem(14);
          color: var(--FONT-DESC-COLOR);
        }

        .card-time {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: u.rem(16);
          i {
            display: grid;
            place-items: center;

            svg {
              height: 24px;
              width: 24px;
              filter: var(--SVG-COLOR);
            }
          }
        }

        button {
          background-color: var(--PRIMARY-COLOR);
          padding: u.rem(10);
          border: none;
          border-radius: 10px;
        }

        .course-type {
          position: absolute;
          background-color: var(--PRIMARY-COLOR);
          padding: u.rem(5) u.rem(10);

          top: u.rem(30);
          left: u.rem(30);
          border-radius: 5px;

          p {
            font-size: u.rem(12);
            font-weight: 700;
            color: var(--FONT-BUTTON-COLOR);
          }
        }

        &:hover {
          border: 2px solid var(--PRIMARY-COLOR);
        }
      }

      @include u.breakpoint(large) {
        flex-direction: row;
      }
    }
  }

  &__author {
    margin-top: u.rem(80);
    background-color: #32077e;
    background: rgb(49, 7, 125);
    background: linear-gradient(
      180deg,
      rgba(49, 7, 125, 1) 0%,
      rgba(233, 0, 255, 1) 100%
    );

    .author-wrapper {
      padding-block: var(--PADDING-BLOCK-HERO);
      padding-inline: var(--PADDING-INLINE-MOBILE);
      text-align: center;
      color: white;

      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.19);

      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);

      h2 {
        font-size: 1.875rem;
        font-size: clamp(1.875rem, 1.775rem + 0.5vw, 2.375rem);
        margin-bottom: u.rem(30);
        font-weight: 700;
      }

      p {
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 1.375rem + 0.625vw, 2.125rem);
        line-height: 1.5;
        max-width: u.rem(1100);
        margin-inline: auto;
      }
      @include u.breakpoint(medium) {
        padding-inline: var(--PADDING-INLINE-TABLET);
      }
    }
  }

  &__graphics {
    padding-block: var(--PADDING-BLOCK-HERO);
    padding-inline: var(--PADDING-INLINE-MOBILE);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: u.rem(150);

    .graphic {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      figure {
        max-width: 500px;
        max-height: 500px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .graphic-text {
        h3 {
          font-size: 1.875rem;
          font-size: clamp(1.875rem, 1.65rem + 1.125vw, 3rem);
          margin-bottom: u.rem(20);
        }

        p {
          font-size: 1.25rem;
          font-size: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem);
          line-height: 1.4;
          color: var(--FONT-DESC-COLOR);
          max-width: u.rem(700);
        }
      }

      @include u.breakpoint(large) {
        flex-direction: row;
        text-align: start;
        gap: u.rem(200);
      }
    }
  }
}
