@use "../../../scss/utils/" as u;

.landing {
  padding-inline: var(--PADDING-INLINE-MOBILE);
  &__hero {
    margin-top: u.rem(10);

    padding-block: var(--PADDING-BLOCK-HERO);

    .hero-header {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: u.rem(20);

      max-width: 800px;
      margin-inline: auto;
      h1 {
        font-size: 2.375rem;
        font-size: clamp(2.375rem, 1.85rem + 2.625vw, 5rem);
        color: var(--FONT-HEADING-COLOR);
      }

      p {
        font-size: 1.25rem;
        font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
        color: var(--FONT-DESC-COLOR);
      }
    }

    .hero-button {
      margin-top: u.rem(40);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: u.rem(20);

      button {
        border: none;
        padding: 10px 30px;
        color: white;
        background-color: var(--PRIMARY-COLOR);
        border-radius: 10px;
      }

      a {
        color: var(--PRIMARY-COLOR);
      }
    }
  }

  &__feature {
    padding-block: var(--PADDING-BLOCK-HERO);
    display: flex;
    flex-direction: column;
    gap: u.rem(20);
    .feature-wrapper {
      background: #000000;
      padding: 32px 48px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .feature-info {
        color: white;
        display: flex;
        flex-direction: column;
        gap: u.rem(10);

        h2 {
          font-size: 1.875rem;
          font-size: clamp(1.875rem, 1.775rem + 0.5vw, 2.375rem);
        }

        p {
          max-width: 250px;
          font-size: 1.25rem;
          font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
        }
      }

      i {
        display: grid;
        place-items: center;
        align-self: self-start;

        svg {
          height: 30px;
          width: 30px;
          fill: var(--PRIMARY-COLOR);
        }
      }
    }

    @include u.breakpoint(large) {
      padding-inline: 80px;
    }

    @include u.breakpoint(xlarge) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__courses {
    padding-inline: var(--PADDING-INLINE-MOBILE);

    h2 {
      font-size: u.rem(38);
      text-align: center;
    }

    .courses-card {
      border: 1px solid var(--BORDER-COLOR);
      margin-top: u.rem(80);
      border-radius: 10px;
      padding: u.rem(15);
      max-width: 360px;
      max-height: 470px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: u.rem(10);

      figure {
        margin-bottom: u.rem(15);
        img {
          border-radius: 10px;
        }
      }

      h3 {
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 1.4rem + 0.5vw, 1.8rem);
      }

      p {
        font-size: u.rem(14);
        color: var(--FONT-DESC-COLOR);
      }

      .card-time {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: u.rem(16);
        i {
          display: grid;
          place-items: center;

          svg {
            height: 24px;
            width: 24px;
          }
        }
      }

      button {
        color: white;
        background-color: var(--PRIMARY-COLOR);
        padding: u.rem(10);
        border: none;
        border-radius: 10px;
      }
    }
  }
}
