<section class="landing">
  <app-header></app-header>
  <section class="landing__hero">
    <div class="hero-header">
      <h1>Where the joy of learn meets the power of community</h1>

      <p>
        Dive deep immersive, interactive small groups, Expand horizons, engage
        in discussions, and elevate your learning journey with us.
      </p>
    </div>

    <div class="hero-button">
      <button type="button">Start your travel</button>

      <a href="https://youtube.com" target="_blank" rel="noopener noreferrer"
        >Watch video</a
      >
    </div>
  </section>

  <app-footer></app-footer>
</section>
