:root {
  --FONT-COLOR: hsl(0, 0%, 15%);
  --PRIMARY-COLOR: hsl(258, 90%, 66%);
  --BORDER-COLOR: #e5e5e5;
  --BODY-BG-COLOR: #fafafa;
  --FOOTER-BG-COLOR: #ffffff;
  --FONT-BUTTON-COLOR: #fafafa;
  --FONT-HEADING-COLOR: #262626;
  --FONT-LINKS-COLOR: #171717;
  --FONT-DESC-COLOR: #737373;

  --SVG-COLOR: invert(0%) sepia(8%) saturate(1938%) hue-rotate(325deg)
    brightness(100%) contrast(82%);
}
